<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-avatar>
        <img src="assets/imgs/marker_pick.png" />
      </ion-avatar>
    </ion-buttons>
    <ion-title mode="md" class="ion-no-padding">
      <ion-label>
        <ion-text color="white">You are here</ion-text>
        <p>
          Karol Bagh, Delhi
          <ion-icon color="dark" name="chevron-down-outline"></ion-icon>
        </p>
      </ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-badge color="danger">&#9679;</ion-badge>
        <ion-icon slot="icon-only" name="cart" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
</ion-content>